/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: white;
  text-decoration: none;
}

img {
  display: block;
}

.m-0-auto {
  margin: 0 auto;
}

.mb-72 {
  margin-bottom: 72px;
}

.w-m {
  max-width: 1200px;
}

.w-s {
  max-width: 996px;
}

.roboto {
  font-family: Roboto-TC, sans-serif;
}

.pingFang {
  font-family: PingFang-TC-Light, sans-serif;
}

.relative {
  position: relative;
}

.title {
  margin-bottom: 16px;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.title-l::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.title-l-s::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 996px;
  height: 1px;
  background-color: #fff;
}

.wrap {
  font-family: Noto Sans, sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
}

h2 span {
  color: #a00404;
  font-size: 24px;
}

.main {
  margin-top: 37px;
}

.name {
  position: relative;
  font-size: 80px;
  line-height: 106px;
}

.name::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.photo {
  padding: 48px 0;
}

.photo img {
  max-width: 320px;
  max-height: 320px;
}

.profile__list li {
  margin-bottom: 24px;
}

.education__list li {
  margin-bottom: 24px;
}

.skills {
  color: #fff;
  background: #415165;
  padding-top: 24px;
}

.skills__title {
  margin-bottom: 37px;
}

.skills__title h2 {
  text-align: center;
  border-bottom: 1px solid #fff;
  width: 100%;
}

.skills__title span {
  color: #fff;
}

.skills__list {
  width: 216px;
  padding-left: 24px;
}

.skills__list li {
  padding-bottom: 16px;
}

.skills__list::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: #96a9c4;
  left: 0;
}

.experience__list {
  margin-left: 24px;
  padding-left: 24px;
}

.experience__list li {
  padding-bottom: 24px;
}

.experience__list img {
  margin: 8px 0;
}

.experience__list p {
  font-size: 20px;
}

.experience__list::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: #96a9c4;
  left: 0;
}

.contact {
  color: #fff;
  background: #415165;
  padding-top: 24px;
  text-align: center;
  padding-bottom: 36px;
}

.contact__title {
  margin-bottom: 32px;
}

.contact__title h2 {
  border-bottom: 1px solid #fff;
  width: 100%;
}

.contact__title span {
  color: #fff;
}

.contact__list li {
  padding-bottom: 16px;
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.socialMedia li {
  margin: 0 12px;
}
