// color
$red: #a00404;
$dark-blue: #415165;
$light-blue: #96a9c4;

// font-size
$font-ex: 80px;
$font-l: 32px;
$font-m: 24px;
$font-s: 20px;

// font
$NotoSans: Noto Sans, sans-serif;
$Roboto: Roboto-TC, sans-serif;
$PingFang: PingFang-TC-Light, sans-serif;
